<div>
    <h3>Rules & Regulations</h3>
    <hr>
    <ul>
        <li>Strict silence, decorum and discipline must be maintained in the library. Use of cell-phones is also not allowed</li>
        <li>Smoking, eating, sleeping and talking loudly are strictly prohibited in the library</li>
        <li>Newspapers, magazines and journals must be read only in the library on specific tables and should not be taken to any other reading areas.</li>
        <li>Any  one  who  violates  the  rules  and  regulations  of  the  library  would  be  liable  to  lose  the  privilege  of  library membership and may be debarred from using the library facilities.</li>
        <li>Suggestions on all aspects,of library services are welcome.</li>
    </ul>
</div>
