.signup {
    margin: auto;
    margin-top: 10px;
    height: 450px;
    width: 500px;
    padding: 10px;
    border: 1px solid;
    box-shadow: 5px 5px 10px;
}

.center {
    text-align: center;
}

div {
    padding: 5px;
}


.user-added {
    color: green;
    font-size: 18px;
    font-weight: bold;
}
